.registration {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 96px;
    @media screen and (max-width: 475px) {
        flex-direction: column;
  }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__form h2 {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;

        color: #222222;
        margin-bottom: 20px;
    }

    &__form input[type='text'], &__form input[type='email'] {
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        /* identical to box height */


        color: #B1B1B1;
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 17px;
        margin-bottom: 20px;
    }

    &__form-radio {
        margin-bottom: 35px;
    }

    &__form-radio input[type='radio'] {
        margin-right: 10px;
    }

    &__form-radio label {
        margin-right: 20px;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;

        color: #000000;
    }

    &__form p {
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;

        color: #B1B1B1;
        margin-bottom: 40px;
    }

    &__form a {
        padding: 15px 30px;
        background-color: #F16D7F;
        border: none;
        max-width: 130px;
        color: white;
    }

    &__form a::after {
        margin-left: 20px;
        content:  url(img/registration/Group.png);
    }

    &__perks {
        margin-left: 128px;
        @media screen and (max-width: 900px) {
            margin-left: 22px;
      }
      @media screen and (max-width: 475px) {
        margin-top: 40px;
        margin-left: 0px;
  }
    }

    &__perks h2 {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */

        color: #000000;
        margin-bottom: 20px;
    }

    &__perks p {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;

        color: #000000;
        margin-bottom: 20px;
    }

    &__perks li {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */


        color: #000000;
        margin-bottom: 16px;
    }

    &__perks li::before {
        margin-right: 22px;
        content:  url(img/registration/Vector.png);
    }
}
