.registration {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 96px;
}

.registration__perks h2 {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #000000;
}

.registration__perks p {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registration__perks li {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #000000;
}

.registration__perks li::before {
  margin-right: 22px;
  content: url(img/registration/Vector.png);
}
